#################################
#   UE files
#################################

Build
Binaries
DerivedDataCache
Intermediate
Saved

#################################
# VS files
#################################
.vs
*.sln
**/.VC.db


#################################
#   For this project only
#################################